<div class="container">
  <div class="row">
    <div class="col-md-4 col-sm-6" *ngFor="let coffeeItem of coffeeItems">
      <div class="text-center cup-container">
        <div class="d-flex flex-column align-items-center">
          <div class="d-flex justify-content-center align-items-center mb-2">
            <h4 class="listdem mt-0 mb-0">
              {{ coffeeItem.name }} ${{ coffeeItem.price }}
            </h4>
          </div>
          <app-cup
            class="p-4"
            [recipe]="coffeeItem.recipe"
            (click)="addToCart(coffeeItem.name, coffeeItem.price)"
          ></app-cup>
        </div>
      </div>
    </div>
  </div>
</div>
