<div class="content-wrapper">
  <header class="bg-success text-white text-center py-4">
    <h1>Welcome to the Coffee Shop Project</h1>
    <p>Created by Adarsh Dhital</p>
    <p>
      Visit my GitHub:
      <a
        href="https://github.com/adarshdhital007"
        style="font-size: 20px"
        class="text-primary"
        >adarshdhital007</a
      >
    </p>
  </header>

  <div class="container mt-5">
    <div class="row">
      <div class="text-white col-md-6">
        <h2>About the Project</h2>
        <h5>
          Hi, I'm Adarsh Dhital, and I've created this coffee shop project.
          <a href="https://adarshkhatri.com.np">Learn more about me</a>.
          <br /><br />
          I wanted to learn Angular and built this project as part of my
          journey. It's a result of my hard work and learning.
          <br /><br />
          I've tried to include as many features as I could from
          <a href="https://coffee-cart.app">coffee-cart.app</a>. Take a look and
          enjoy!
        </h5>
      </div>
      <div class="col-md-6">
        <img
          src="../../../assets/project.png"
          alt="Coffee Shop"
          class="img-fluid"
        />
      </div>
    </div>
  </div>

  <section class="container mt-5">
    <h2 class="text-white">Features</h2>
    <div class="row">
      <div class="col-md-4">
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title">Uses Multiple Routing</h5>
            <p class="card-text">
              This project takes advantage of Angular's powerful routing
              capabilities to provide a seamless and user-friendly navigation
              experience. Whether you're exploring the menu, managing your cart,
              or checking out, our multi-routing system ensures that you can
              effortlessly move between different sections of the Coffee Shop
              app.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title">Cart Add/Removal</h5>
            <p class="card-text">
              Easily enhance your coffee experience by adding your favorite
              brews to your cart with a simple click. Say goodbye to complex
              ordering processes. Our intuitive interface empowers you to
              customize your coffee selections effortlessly, ensuring your
              perfect cup is just a click away. Plus, enjoy the convenience of
              quick service.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title">Bootstrap Implementation</h5>
            <p class="card-text">
              I've incorporated Bootstrap to elevate your browsing experience.
              My commitment to responsive design means you can enjoy the Coffee
              Shop application seamlessly across a variety of devices and screen
              sizes. Enjoy the perfect blend of style and functionality as my
              implementation ensures responsiveness.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
